bin/
obj/
*.exe
*.dll
MVC5WebProj/MVC5WebProj.sln
MVC5WebProj/MVC5WebProj.v11.suo
MVC5WebProj/MVC5WebProj/App_Start/RouteConfig.cs
MVC5WebProj/MVC5WebProj/Content/bootstrap.css
MVC5WebProj/MVC5WebProj/Content/bootstrap.min.css
MVC5WebProj/MVC5WebProj/Content/Site.css
MVC5WebProj/MVC5WebProj/Controllers/HomeController.cs
MVC5WebProj/MVC5WebProj/fonts/glyphicons-halflings-regular.eot
MVC5WebProj/MVC5WebProj/fonts/glyphicons-halflings-regular.svg
MVC5WebProj/MVC5WebProj/fonts/glyphicons-halflings-regular.ttf
MVC5WebProj/MVC5WebProj/fonts/glyphicons-halflings-regular.woff
MVC5WebProj/MVC5WebProj/Global.asax
MVC5WebProj/MVC5WebProj/Global.asax.cs
MVC5WebProj/MVC5WebProj/MVC5WebProj.csproj
MVC5WebProj/MVC5WebProj/MVC5WebProj.csproj.user
MVC5WebProj/MVC5WebProj/packages.config
MVC5WebProj/MVC5WebProj/Properties/AssemblyInfo.cs
MVC5WebProj/MVC5WebProj/Scripts/bootstrap.js
MVC5WebProj/MVC5WebProj/Scripts/bootstrap.min.js
MVC5WebProj/MVC5WebProj/Scripts/jquery.validate.js
MVC5WebProj/MVC5WebProj/Scripts/jquery.validate.min.js
MVC5WebProj/MVC5WebProj/Scripts/jquery.validate.unobtrusive.js
MVC5WebProj/MVC5WebProj/Scripts/jquery.validate.unobtrusive.min.js
MVC5WebProj/MVC5WebProj/Scripts/jquery.validate-vsdoc.js
MVC5WebProj/MVC5WebProj/Scripts/jquery-1.10.2.js
MVC5WebProj/MVC5WebProj/Scripts/jquery-1.10.2.min.js
MVC5WebProj/MVC5WebProj/Scripts/jquery-1.10.2.min.map
MVC5WebProj/MVC5WebProj/Scripts/jquery-1.10.2-vsdoc.js
MVC5WebProj/MVC5WebProj/Scripts/modernizr-2.6.2.js
MVC5WebProj/MVC5WebProj/Views/_ViewStart.cshtml
MVC5WebProj/MVC5WebProj/Views/Home/Index.cshtml
MVC5WebProj/MVC5WebProj/Views/Shared/_Layout.cshtml
MVC5WebProj/MVC5WebProj/Views/web.config
MVC5WebProj/MVC5WebProj/Web.config
MVC5WebProj/MVC5WebProj/Web.Debug.config
MVC5WebProj/MVC5WebProj/Web.Release.config
MVC5WebProj/packages/bootstrap.3.0.0/bootstrap.3.0.0.nupkg
MVC5WebProj/packages/bootstrap.3.0.0/bootstrap.3.0.0.nuspec
MVC5WebProj/packages/bootstrap.3.0.0/content/Content/bootstrap.css
MVC5WebProj/packages/bootstrap.3.0.0/content/Content/bootstrap.min.css
MVC5WebProj/packages/bootstrap.3.0.0/content/fonts/glyphicons-halflings-regular.eot
MVC5WebProj/packages/bootstrap.3.0.0/content/fonts/glyphicons-halflings-regular.svg
MVC5WebProj/packages/bootstrap.3.0.0/content/fonts/glyphicons-halflings-regular.ttf
MVC5WebProj/packages/bootstrap.3.0.0/content/fonts/glyphicons-halflings-regular.woff
MVC5WebProj/packages/bootstrap.3.0.0/content/Scripts/bootstrap.js
MVC5WebProj/packages/bootstrap.3.0.0/content/Scripts/bootstrap.min.js
MVC5WebProj/packages/jQuery.1.10.2/Content/Scripts/jquery-1.10.2.js
MVC5WebProj/packages/jQuery.1.10.2/Content/Scripts/jquery-1.10.2.min.js
MVC5WebProj/packages/jQuery.1.10.2/Content/Scripts/jquery-1.10.2.min.map
MVC5WebProj/packages/jQuery.1.10.2/Content/Scripts/jquery-1.10.2-vsdoc.js
MVC5WebProj/packages/jQuery.1.10.2/jQuery.1.10.2.nupkg
MVC5WebProj/packages/jQuery.1.10.2/jQuery.1.10.2.nuspec
MVC5WebProj/packages/jQuery.1.10.2/Tools/common.ps1
MVC5WebProj/packages/jQuery.1.10.2/Tools/install.ps1
MVC5WebProj/packages/jQuery.1.10.2/Tools/jquery-1.10.2.intellisense.js
MVC5WebProj/packages/jQuery.1.10.2/Tools/uninstall.ps1
MVC5WebProj/packages/jQuery.Validation.1.11.1/Content/Scripts/jquery.validate.js
MVC5WebProj/packages/jQuery.Validation.1.11.1/Content/Scripts/jquery.validate.min.js
MVC5WebProj/packages/jQuery.Validation.1.11.1/Content/Scripts/jquery.validate-vsdoc.js
MVC5WebProj/packages/jQuery.Validation.1.11.1/jQuery.Validation.1.11.1.nupkg
MVC5WebProj/packages/jQuery.Validation.1.11.1/jQuery.Validation.1.11.1.nuspec
MVC5WebProj/packages/Microsoft.AspNet.Mvc.5.0.0/lib/net45/System.Web.Mvc.xml
MVC5WebProj/packages/Microsoft.AspNet.Mvc.5.0.0/Microsoft.AspNet.Mvc.5.0.0.nupkg
MVC5WebProj/packages/Microsoft.AspNet.Mvc.5.0.0/Microsoft.AspNet.Mvc.5.0.0.nuspec
MVC5WebProj/packages/Microsoft.AspNet.Razor.3.0.0/lib/net45/System.Web.Razor.xml
MVC5WebProj/packages/Microsoft.AspNet.Razor.3.0.0/Microsoft.AspNet.Razor.3.0.0.nupkg
MVC5WebProj/packages/Microsoft.AspNet.Razor.3.0.0/Microsoft.AspNet.Razor.3.0.0.nuspec
MVC5WebProj/packages/Microsoft.AspNet.WebPages.3.0.0/lib/net45/System.Web.Helpers.xml
MVC5WebProj/packages/Microsoft.AspNet.WebPages.3.0.0/lib/net45/System.Web.WebPages.Deployment.xml
MVC5WebProj/packages/Microsoft.AspNet.WebPages.3.0.0/lib/net45/System.Web.WebPages.Razor.xml
MVC5WebProj/packages/Microsoft.AspNet.WebPages.3.0.0/lib/net45/System.Web.WebPages.xml
MVC5WebProj/packages/Microsoft.AspNet.WebPages.3.0.0/Microsoft.AspNet.WebPages.3.0.0.nupkg
MVC5WebProj/packages/Microsoft.AspNet.WebPages.3.0.0/Microsoft.AspNet.WebPages.3.0.0.nuspec
MVC5WebProj/packages/Microsoft.jQuery.Unobtrusive.Validation.3.0.0/Content/Scripts/jquery.validate.unobtrusive.js
MVC5WebProj/packages/Microsoft.jQuery.Unobtrusive.Validation.3.0.0/Content/Scripts/jquery.validate.unobtrusive.min.js
MVC5WebProj/packages/Microsoft.jQuery.Unobtrusive.Validation.3.0.0/Microsoft.jQuery.Unobtrusive.Validation.3.0.0.nupkg
MVC5WebProj/packages/Microsoft.jQuery.Unobtrusive.Validation.3.0.0/Microsoft.jQuery.Unobtrusive.Validation.3.0.0.nuspec
MVC5WebProj/packages/Microsoft.Web.Infrastructure.1.0.0.0/Microsoft.Web.Infrastructure.1.0.0.0.nupkg
MVC5WebProj/packages/Microsoft.Web.Infrastructure.1.0.0.0/Microsoft.Web.Infrastructure.1.0.0.0.nuspec
MVC5WebProj/packages/Modernizr.2.6.2/Content/Scripts/modernizr-2.6.2.js
MVC5WebProj/packages/Modernizr.2.6.2/Modernizr.2.6.2.nupkg
MVC5WebProj/packages/Modernizr.2.6.2/Modernizr.2.6.2.nuspec
MVC5WebProj/packages/Modernizr.2.6.2/Tools/common.ps1
MVC5WebProj/packages/Modernizr.2.6.2/Tools/install.ps1
MVC5WebProj/packages/Modernizr.2.6.2/Tools/uninstall.ps1
MVC5WebProj/packages/repositories.config
GitIntegration/GitIntegration.v11.suo
GitIntegration/GitIntegration/bin/Debug/GitIntegration.exe
GitIntegration/GitIntegration/bin/Debug/GitIntegration.pdb
GitIntegration/GitIntegration/obj/Debug/GitIntegration.exe
GitIntegration/GitIntegration/obj/Debug/GitIntegration.pdb
